.section-experience {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-bottom: 20px;
}

.container-line-experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

.circle-experience {
  width: 14px;
  height: 14px;
  background-color: #fff;
  border-radius: 50%;
}

.line-experience {
  width: 2px;
  height: 100%;
  background-color: #aaa;
}

.container-information-experience {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 20px;
}

.box-info-experience {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.last-experience {
  width: 50%;
}

.job-name-experience {
  color: #fff;
}

.company-experience {
  font-weight: 500;
  color: #fff;
}

.dates-experience {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #d1d5db;
}

.description-experience {
  font-size: 16px;
  color: #d1d5db;
  padding-bottom: 10px;
}

.link-experience {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #d1d5db;
  display: flex;
  align-items: center;
}

.link-experience:hover {
  transition: color 0.5s;
  color: #fff;
}

.icon-link-experience {
  stroke: #fff;
}

/* Theme theme-dark-experience */

.theme-dark-experience .circle-experience {
  background-color: #101010;
}

.theme-dark-experience .line-experience {
  background-color: #303030;
}
.theme-dark-experience .company-experience {
  color: #000;
}
.theme-dark-experience .job-name-experience {
  color: #000;
}

.theme-dark-experience .dates-experience {
  color: #303030;
}

.theme-dark-experience .description-experience {
  color: #202020;
}

.theme-dark-experience .link-experience {
  color: #202020;
  transition: color 0.5s;
}

.theme-dark-experience .link-experience:hover {
  color: #000;
  transition: color 0.5s;
}

.theme-dark-experience .icon-link-experience {
  stroke: #202020;
}

@media (max-width: 425px) {
  .container-information-experience {
    flex-direction: column;
    gap: 10px;
  }
  .last-experience {
    width: 100%;
  }
}
